<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103258652265-g026p49skqg0p2b31d0116gaeeq57edb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103258652265-g026p49skqg0p2b31d0116gaeeq57edb</string>
	<key>API_KEY</key>
	<string>AIzaSyBc6344AiiNrkM3rb9fmXvYFtRxKAD7dQE</string>
	<key>GCM_SENDER_ID</key>
	<string>103258652265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raja.RJFirebase</string>
	<key>PROJECT_ID</key>
	<string>panel-371d0</string>
	<key>STORAGE_BUCKET</key>
	<string>panel-371d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103258652265:ios:d90cf68ce68e6ded9bacf8</string>
	<key>DATABASE_URL</key>
	<string>https://panel-371d0.firebaseio.com</string>
</dict>
</plist>